html, body {
    margin: 0;
    padding: 0;
    height: 100%;
  }
  
  body {
    font-family: Arial, sans-serif;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    
  }
  #landing-page{
    background-color: #080808;
    height: 100vh;
  }
  #top-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: #1B1B1B;
    padding: 20px;
  }
  
  #nav-bar {
    display: flex;
  }
  
  #quick-access a {
    text-decoration: none;
    color: white;
    margin-right: 20px;
  }
  #quick-access{
    align-self: center;
  }

  #pfp {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  #pfp img {
    width: 350px;
    height: 350px;
    border-radius: 50%;
  }
  
  #header-text {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
  }
  #split-mid{
    display: flex;
    margin: 100px;
  }
  .container2{
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  #get-started{
    background-color: #3F8E00;
    width: 307px;
    height: 63px;
    border-radius: 10px;
    box-shadow: 1px 1px 25px 2px rgb(38, 130, 37);;
    color: white;
    cursor: pointer;
    font-size: 16px;
    border: none  ;
  }
  #get-started:hover{
    background-color: #62BA1B;
    transition: ease-in;
    transition-duration: 0.3s;
  }
  #worked-with{
    margin-left: 100px;
  }
  #worked-with-text{
    display: block;
    flex-direction:row ;
    color: white;
  }
  #w-image-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: center;
    width: 920px;
    height: 60px;
  }
  .icon{
    overflow: hidden;
    width: 180px;
    height: 60px;
    margin: 10px;
  }